asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.1.7
django-db-connection-pool==1.2.6
executing==2.2.1
greenlet==3.2.4
icecream==2.1.8
idna==3.10
pillow==11.2.1
praw==7.8.1
prawcore==2.4.0
psycopg2-binary==2.9.10
Pygments==2.19.2
python-dotenv==1.1.0
requests==2.32.4
soupsieve==2.7
SQLAlchemy==2.0.43
sqlparams==6.2.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
update-checker==0.18.0
urllib3==2.5.0
websocket-client==1.8.0
