asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.1.7
idna==3.10
pillow
praw==7.8.1
prawcore
python-dotenv
requests
soupsieve
sqlparse
typing_extensions
update-checker
urllib3
websocket-client
icecream
tqdm
